<div class="cardWelcome">
    <p-card header="Marvel Building Team" subheader="Welcome!" styleClass="cardWelcome">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/images/Marvel_Logo.svg.png">
        </ng-template>
        <p>On this page you will find information about your favorite Marvel characters, and you can even create your own team of heroes to save the world. </p>
        <ng-template pTemplate="footer">
            <p-button label="Hero List" icon="pi pi-check" routerLinkActive="active" [routerLink]="['/heroes']" ></p-button>
            <p-button label="My Team" icon="pi pi-times" [style]="{'margin-left': '.5em'}"></p-button>
        </ng-template>
    </p-card>
</div>