<p-table #dt [columns]="cols" [value]="listHeroesFinal" [paginator]="true" [rows]="10" responsiveLayout="scroll"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    totalHeroes="totalRecords" [responsive]="true" [rowsPerPageOptions]="[10,25,50,100]" 
    [globalFilterFields]="['name']">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns>
        <tr>
            <td>{{columns.name}}</td>
            <td>{{columns.description}}</td>
            <td>
                <button type="button" (click)="showDetail(columns.id)" pButton pRipple icon="pi pi-info-circle"
                    label="Detail" class="p-button-rounded p-button-text"></button>
                <button type="button" *ngIf="!noAddNewMembers" (click)="addTeam(columns.id, columns.name)" pButton
                    pRipple icon="pi pi-plus-circle" label="Add" class="p-button-rounded p-button-text"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog [style]="{width: '70%'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>